.btn {
  padding: 10px 25px;
  transition: background-color 0.15s ease-in-out;
  font-weight: 600;
  font-size: larger;
}

.btn-cyan {
  color: #fff;
  background-color: #27C2D1;

  &:hover {
    color: #fff;
    background-color: #1f9aa6;
  }
}

.btn-rounded {
  border-radius: 50px
}

.btn-shadow {
  box-shadow: 0 3px 6px #2c2d5057;
}
