.btn {
  color: #fff;
  transition: background-color, color 0.15s ease-in-out;
  &:hover {
    color: #fff;
  }
}

.btn-cyan {
  background-color: #27C2D1;
  font-weight: 600;
  font-size: larger;
  padding: 10px 25px;
  &:hover {
    background-color: #1f9aa6;
  }
}

.btn-purple {
  background-color: #33038b;
  padding: 5px 15px;
  &:hover {
    background-color: #22035e;
  }
}

.btn-back {
  color: black;
  &:hover {
    color: rgb(70, 70, 70);
  }
}

.btn-rounded {
  border-radius: 50px
}

.btn-shadow {
  box-shadow: 0 3px 6px #2c2d5057;
}
